<div class="table-container">
  <ngx-datatable class="material" limit="6" [rows]="companyList" [columnMode]="'flex'" [headerHeight]="40" [footerHeight]="'auto'" [rowHeight]="65">
    <ngx-datatable-column name="STT" prop="id" [flexGrow]="1">
      <ng-template let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
        <div>{{rowIndex+1}}</div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Tên công ty" prop="name" [flexGrow]="2">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <div>{{row.name}}</div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Mô tả" prop="description" [flexGrow]="2">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <div>{{row.description}}</div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Ngày tạo" prop="dateTimeCreated" [flexGrow]="2">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <div>{{row.dateTimeCreated }}</div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [flexGrow]="1" name="Action" [cellClass]="'col-action'" [headerClass]="'col-action'" [sortable]="false">
      <ng-template ngx-datatable-header-template>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-row="row">
        <div class="list-actions">
          <span (click)="openModalWithClassAndData(editCompanyModel,row)">
            <i class="fa fa-pencil-alt"></i>
          </span>
          <span (click)="openModalWithClassAndData(confirmDeleteCompany,row)">
            <i class="fas fa-trash-alt"></i>
          </span>
        </div>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  <div class="create-new-btn">
    <button class="btn btn-primary" (click)="openModalWithClassAndData(editCompanyModel,row)">Create New Company</button>
  </div>
  <!-- <iframe class="my-iframe" #myIframe id="myIframe" src="http://davidjbradshaw.com/iframe-resizer/example/frame.content.html"></iframe> -->
  <iframe class="my-iframe" #myIframe id="myIframe" src="assets/InsightTeam-dashboard-test/iframe-loader-resize-test.html?orgId=123456"></iframe>
  
  
</div>

<ng-template #editCompanyModel>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Company</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="companyDetail">
      <div class="form-group">
        <label for="companyName" class="required">Tên công ty</label>
        <input class="form-control" formControlName="name" type="text" name="" id="companyName">
      </div>
      <div class="form-group">
        <label for="companyDescription" class="required">Description</label>
        <textarea class="form-control" formControlName="description" name="" id="companyDescription" rows="3"></textarea>
      </div>
    </form>
    <div class="form-group">
      <button type="button" class="btn btn-default" (click)="modalRef.hide()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="editCompany()">Save</button>
    </div>
  </div>
</ng-template>

<ng-template #confirmDeleteCompany>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete Company</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <p>This action cannot be reversed. Are you sure to delete this company?</p>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-default" (click)="modalRef.hide()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="deleteCompany()">Proceed</button>
    </div>
  </div>
</ng-template>

