.list-actions span {
    padding: 5px 10px;
    font-size: 18px;
    transition: font-size 0.2s ease-in;
    &:hover{
        cursor: pointer;
        font-size: 24px;
    }
}
.table-container{
    padding: 20px;
    .my-iframe{
        width: 100%;
    }
}
.create-new-btn{
    padding: 20px 0;
}
.cdk-overlay-container{
    z-index: 1081;
}
.cdk-global-scrollblock{
    overflow-y: hidden;
}
.form-link{
    .form-control{
        width: calc(100% - 40px);
        display: inline-block;
    }
    .link-icon{
        padding: 5px 10px;
        font-size: 22px;
        cursor: pointer;
    }
}
.notifier__notification--material{
    background-color: #71c771;
}
