.header {
    height: 150px;
    border: 1px solid red;
}

.widget {
    width: 100px;
    height: 100px;
    border: 1px solid grey;
    border-radius: 4px;
    margin: 10px;
    line-height: 100px;
    text-align: center;
}

.widget-row {
    padding-left: 40px;
    padding-top: 10px;
}

.slick-next {
    border: 2px solid red !important;
    right: 0 !important;
}

.tile-insights {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
}

.tile-insights .item {
    flex: 1 1 0;
    background: #fff;
    border: 1px solid #BABCBE;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    margin: 4px;
}

.tile-insights .item .icon {
    font-size: 36px;
    color: #898989;
}

.tile-insights .item .num {
    color: #0077B5;
    font-size: 22px;
    font-weight: 600;
}

.tile-insights .item .label {
    text-transform: uppercase;
    font-size: 12px;
}

@media screen and (max-width: 1024px) {
    .tile-insights {
        flex-wrap: wrap;
    }
    .item {
        flex: 0 0 calc(25% - 32px);
        width: calc(25% - 32px);
    }
}

@media screen and (max-width: 640px) {
    .tile-insights .item {
        flex: 0 0 calc(50% - 32px);
        width: calc(50% - 32px);
    }
}
.block-header.light-style {
    padding: 5px 20px;
    font-size: 12px;
    font-weight: 600;
    color: #54534a;
    border: 1px solid #BABCBE;
    background-color: #F5F5F5;
}
.block-info .block-body {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #BABCBE;
    border-top: none;
    padding: 20px;
    background: #fff;
    position: relative;
}
.fa,.fas,.far,  
.fa .fa-clipboard,
.fas .fa-award,
    .fa-calendar-times,
    .fa-address-card,
    .fa-pen-fancy,
    .fa-file-export
     {
        font-family: "Font Awesome 5 Free";
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        font-weight: 900;
    }


.far .fa-clock,
.far .fa-address-card,
.far .fa-calendar-times {
    font-weight: 400;
  
}

